.checkbox {
  margin-bottom: 0.2em;
  position: relative;
}

/* для элемента input c type="checkbox" */
.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  display: flex;
  align-items: center;
  font-family: $font-family--t;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(31, 31, 31, 0.85);
  position: relative;
  z-index: 10;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(31, 31, 31, 0.6);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
  cursor: pointer;
}




/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.5l5 5L14.5 1' stroke='%23000' stroke-width='1.5'/%3E%3C/svg%3E");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}
