.header-nav {


  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 28px;
  }

  &__item {
    font-family: $font-family--s;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $text--white;
  }
}
