.main-top {

  h2 {
    font-family: $font-family--s;
    font-style: normal;
    font-size: Min(10vw, 175px);
    line-height: 100%;
    text-transform: uppercase;

    color: $color--white;

    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.35);
    transform: matrix(0.99, 0, -0.12, 1, 0, 0);
  }
}
