.price-sec {
  padding: 100px 0;
  background-image: url(../img/repeat-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1F1F1F;

  &__box {
    max-width: 1166px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 75px 70px;
    position: relative;
  }

  &__item {
    width: calc(100% / 2 - 70px);
    height: 254px;
    border: 3px solid #FED215;
    box-shadow: 0px 0px 30px 5px rgba(236, 193, 4, 0.15);
    border-radius: 8px;
    transform: skew(-6deg);
    display: flex;
    justify-content: space-between;
    padding: 29px 0 21px 2vw;
    flex-direction: column;
    transition: all .4s;

    &:hover {
      transform: skew(-6deg) translate(10px , -10px);
    }
  }

  &__title {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $text--white;
  }

  &__descr {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $text--white;
    position: relative;


    b {
      position: absolute;
      background: #FECE03;
      box-shadow: 0px 0px 30px 5px rgba(236, 193, 4, 0.35);
      border-radius: 8px;
      height: 30px;
      padding: 0 12px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $text--lable;
      display: flex;
      align-items: center;
      top: -15px;
      right: 22%;
    }
  }

  &__span {
    font-family: $font-family--s;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.7);
    transform: skew(6deg);
  }
}


.price-sec__image {
  position: absolute;
  right: -30%;
  bottom: 0;

  img {
    animation: br 5s infinite;
  }
}

@keyframes br {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  50% {
    transform: translateX(40px) rotate(-10deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}
