.sale-box {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $text--lable;
  transform: matrix(1, -0.05, -0.05, 1, 0, 0);
  background: $lable-bg;
  box-shadow: 0 0 30px 5px rgba(236, 193, 4, 0.35);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 271.61px;
  height: 85.88px;
}

.move-block {
  position: absolute;
  top: 18%;
  left: 40%;
  z-index: 20;

  &.active {
    animation: translate 5s infinite;
  }
}

@keyframes translate {
    0% {
      transform: translateX(-25px);
    }

    50% {
      transform: translateX(25px);
    }

    100% {
      transform: translateX(-25px);
    }
}


.btn-mono {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(88.33deg, #FECE03 -7.64%, #FDCD03 4.36%, #F8C903 20.36%, #EDC102 126.75%, #EBBF02 145.94%);
  box-shadow: 6px 9px 40px rgba(137, 117, 27, 0.2);
  border-radius: 8px;
  transform: matrix(0.99, 0, -0.12, 1, 0, 0);
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #282828;
}

.btn-transparent {
  border: 1px solid #FECE03;
  border-radius: 8px;
  transform: matrix(0.99, 0, -0.12, 1, 0, 0);
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FECE03;
}

