// ---- TEXT COLOR ----

$text--black: #000000;
$text--white: #ffffff;
$text--lable: #333333;

$text--item: #1C1C1C;
$text--modal: #1F1F1F;
$text--name: #282828;

$button-bg: linear-gradient(88.33deg, #FECE03 -7.64%, #EBBF02 145.94%);;
$lable-bg: #FECE03;
$nav-bg: #1F1F1F;
// ----- MAIN COLOR -----

$color--white: #ffffff;
$color--black: #000000;


// ------ FONTS -------

$font-family: "Bebas Neue", sans-serif;
$font-family--s: "Montserrat", sans-serif;
$font-family--f: "open";
$font-family--t: "Proxima Nova", sans-serif;





/*components var*/
